@model MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1>@Model.Id.ToString()</h1>
        <h1>@Model.Username</h1>
        <h1>@Model.FirstName</h1>
        <h1>@Model.LastName</h1>
        <h1>@Model.Departure</h1>
    </div>
}