@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1>@Model.User.Id.ToString()</h1>
        <h1>@Model.User.Username</h1>
        <h1>@Model.User.FirstName</h1>
        <h1>@Model.User.LastName</h1>
        <h1>@Model.User.Departure</h1>
    </div>
}